/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 @import "tailwindcss";

 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

 @theme {
  --font-sans: "MiSans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Noto Serif SC", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-lxgw-wenkai: "LXGW Wenkai Screen", serif;
  --spacing-content: 864px;
}

:root {
  --theme-background-color: #fdfdfd;
  --theme-primary-color: #cb2a42;
  --theme-content-color: #282728;
  --theme-muted-color: #656768;

}
[data-theme="dark"] {
  --theme-background-color: #212737;
  --theme-primary-color: #2ABC89;
  --theme-content-color: #eaedf3;
  --theme-muted-color: #B4B6B9;
}
@theme inline {
  --color-background: var(--theme-background-color);
  --color-primary: var(--theme-primary-color);
  --color-content: var(--theme-content-color);
  --color-muted: var(--theme-muted-color);
}

@layer components {
  .container-center {
    @apply mx-auto w-full max-w-content px-4 sm:px-6;
  }

	.icon-button {
		@apply size-6 text-muted hover:text-primary cursor-pointer drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)];
	}
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply font-lxgw-wenkai bg-background text-content antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold;
  }

  h1 { @apply text-4xl mb-8; }
  h2 { @apply text-2xl mt-12 mb-4 border-b border-slate-100 pb-2; }
  
  .prose p {
    @apply font-sans leading-relaxed text-slate-800;
  }

  blockquote {
    @apply font-serif italic text-lg text-slate-600 border-l-4 border-slate-200 pl-6 my-8;
  }
}
