/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 @import "tailwindcss";

 @theme {
  --font-sans: "MiSans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Source_Han_Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-white antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold tracking-tight text-slate-950;
  }

  h1 { @apply text-4xl mb-8; }
  h2 { @apply text-2xl mt-12 mb-4 border-b border-slate-100 pb-2; }
  
  .prose p {
    @apply font-sans leading-relaxed text-slate-800;
  }

  blockquote {
    @apply font-serif italic text-lg text-slate-600 border-l-4 border-slate-200 pl-6 my-8;
  }
}
