---
import { siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top sm:flex-row sm:justify-between text-xs md:text-sm"
>
	<div class="me-0 sm:me-4">
		&copy; <a href="/" class="hover:text-accent-two">{siteConfig.author}</a>
		{year}.<span class="inline-block">&nbsp;🚀&nbsp;Astro Atom</span>
	</div>
	<a
		href="http://beian.miit.gov.cn/"
		target="_blank"
		class="hover:text-accent-two">{siteConfig.icp}</a
	>
</footer>
