---
import { getFormattedDate } from "@/utils/date";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span"> & {
	date: Date;
};

const { date, ...attrs } = Astro.props;

var postDate = getFormattedDate(date);
---

<span {...attrs}>{postDate}</span>
