---
import { SITE_TITLE, MENU_LINKS } from "@/consts";
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
import ThmeIcon from "@/components/ThmeIcon.astro";
---

<header>
	<nav class="container-center flex items-center justify-between py-6">
		<div
			class="m-0 p-0 border-none font-lxgw-wenkai font-bold text-xl md:text-2xl text-primary"
		>
			<a href="/">{SITE_TITLE}</a>
		</div>
		<div class="flex items-center gap-4">
			{
				MENU_LINKS.map(({ path, title }) => (
					<HeaderLink href={path}>{title}</HeaderLink>
				))
			}
		</div>
		<div class="flex gap-4">
			<Icon name="material-symbols:search-rounded" class="icon-button size-6" />
			<ThmeIcon />
		</div>
	</nav>
</header>
