---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import Masthead from "@/components/Masthead.astro";

interface Props {
    post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const { ogImage, title, description, updatedDate, publishDate, seriesId } =
    post.data;
const socialImage = ogImage ?? `/og-image/${post.id}.png`;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }}>
    <div class="onload-animation">
        <Masthead content={post} />
    </div>
    <div
        class="mt-6 flex sm:grid-cols-[auto_1fr] md:items-start gap-x-8 onload-animation"
    >
        <article
            class="grid flex-grow grid-cols-1 break-words pt-4"
            data-pagefind-body
        >
            <slot />
        </article>
    </div>
    <div class="flex items-center justify-center my-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-4 text-accent-two">终</span>
        <div class="flex-grow border-t border-gray-300"></div>
    </div>
</PageLayout>
